<!DOCTYPE html>
<html>
<head>
  <title>AngularJS Scope and Module Example</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController">

<h2>AngularJS Scope and Module</h2>

<p><strong>Name:</strong> {{ name }}</p>
<p><strong>Course:</strong> {{ course }}</p>

<input type="text" ng-model="name" placeholder="Change name">
<input type="text" ng-model="course" placeholder="Change course">

<script>
  var app = angular.module("myApp", []);
  app.controller("myController", function($scope) {
    $scope.name = "Nilesh";
    $scope.course = "AngularJS";
  });
</script>

</body>
</html>
