p{
    color: #654321;
    text-align: center;
    background-color: pink;
    line-height: 30px;
}
h1{
    text-align: center;
    font-family: Georgia;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
    color: #000000;
}
h4{
    text-align: center;
}
a{
    text-decoration: none;
    color: green;
}
button{
    background-color: #ffffff;
    color: blueviolet;
}
textarea{
    color: #000000;
}
span{
     text-decoration:underline ;
}
