h1{
    color: aqua;
    text-align: center;
    background-color: bisque;
    text-decoration: solid;
}
p{
    color: red;
    text-align: center;
    background-color: bisque;
    text-decoration: solid;
}