
h1 {
    color: blue;
    text-align: center;
}

#ux {
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    margin: 20px auto;
}

.box {
    width: 100px;
    height: 100px;
    background-color: tomato;
    margin: 20px auto;
    border: 2px solid black;
}
