button{
    background-color: blue;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}
button:hover{
    background-color: green;
}
#myid{
    background-color: red;
    color: black;
}
p{
    background-color: aqua;
    color: red;
}